<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guangyou.rareanimal.mapper.ActivityMapper">

<!--    void updateActivityAuditById(String auditState,Long activityId);-->
    <update id="updateActivityAuditById">
        update t_activity
        set audit_state = #{auditState}, audit_time = null
        where activity_id = #{activityId}
    </update>

    <!--    List<ActivityVo> getActivitiesByPage(Integer initialDataLocation, Integer pageSize);-->
    <select id="getActivitiesByPage" resultType="com.guangyou.rareanimal.pojo.Activity">
        select *
        from t_activity
        LIMIT #{initialDataLocation},#{pageSize}
    </select>

<!--    Activity getActivityById(Long activityId);-->
    <select id="getActivityById" resultType="com.guangyou.rareanimal.pojo.Activity">
        select *
        from t_activity
        where activity_id = #{activityId}
    </select>
</mapper>