<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guangyou.rareanimal.mapper.ArticleCustomTagMapper">


<!--    List<ArticleCustomTag> selectByArticleId(Long articleId);-->
    <select id="selectByArticleId" resultType="com.guangyou.rareanimal.pojo.ArticleCustomTag">
        select * from t_article_CustomTag where article_id = #{articleId}
    </select>
</mapper>